.scene{
  display:flex;
  flex-direction:column;
  height:100vh;
  width:100vw;

  background-size:cover;
  background-position:center;
}

/* area dove stanno i personaggi */
.sprite-layer{
  flex:1;

  display:flex;
  justify-content:space-between;
  align-items:flex-end;

  padding:20px 60px;
}


/*.scene{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}

.background{
  width:100%;
  height:100%;
  object-fit:cover;
}*/

/*.scene {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Sprite area */
/*.sprites-layer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

/* Dialogue */
/*app-dialogue {
  margin-bottom: 1rem;
}

/* Choices */
/*app-choice {
  margin-bottom: 2rem;
}*/
