.sprite-container{
  display:flex;
  align-items:flex-end;

  flex:0 0 auto; /* impedisce allo sprite di allargarsi */
}

.sprite{
  max-height:60vh;
  width:auto;
  object-fit:contain;
}

.left{
  justify-content:flex-start;
}

.right{
  justify-content:flex-end;
}


/*.sprite{
  height:60%;
  align-self:center;
}*/


/*.sprite {
  position: absolute;
  bottom: 0;
}

.sprite.left {
  left: 5%;
}

.sprite.center {
  left: 50%;
  transform: translateX(-50%);
}

.sprite.right {
  right: 5%;
}

.sprite img {
  height: 90vh;
}
*/

/*.sprite img {
  max-height: 60vh;
}*/
